body{
    font-size: 16px;
    font-family: 'Poppins', serif;
}

tr{
    text-align: center;
}

th{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.modal-contenido{
    background-color: whitesmoke;
    width: 300px;
    padding: 10px 30px;
    margin: 10% auto;
    position: relative;
}

.modal-contenido a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 300px;
    background-color: black;
    padding: 8px;
    border-radius: 5px;
}

.modal-contenido a:hover{
    background-color: red;
}

.modal-contenido h2{
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal-contenido p{
    margin: 0;
}

.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

.displayFlex{
    display: flex;
}

.verDetalles{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.verDetalles:hover{
    color: red;
    font-weight: bold;
}

.btnAgregar{
    font-family: 'Poppins', serif;
    font-family: 16px;
	background: red;
	color: white;
	border-radius: 5px;
	border: 2px solid white;
	cursor: pointer;
	padding: 8px;
	width: 120px;
	outline: none;
	-webkit-transition: all .3s ease; 
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btnAgregar:hover{
    font-weight: bold;
}